@charset "utf-8";
/* CSS Document */
body {
	background-color: #999;
}
* {
	margin: 0;
	padding: 0;
}
img {
	border-width: 0;
}
#all {
	width: 900px;
	height: 716px;
	background-color: #FF0;
	margin: 0 auto;
}
#banner {
	width: 900px;
	height: 101px;
}
.banner_top {
	width: 900px;
	height: 91px;
	background-image: url(../images/banner_bg_img1.png);
	overflow: hidden;
}
.banner_bannerimg {
	float: left;
	width: 70px;
	height: 70px;
	overflow: hidden;
	display: inline;
	margin-left: 15px;
	margin-top: 20px;
}
.banner_fontimg {
	float: left;
	overflow: hidden;
	margin-top: 15px;
	margin-left: 10px;
}
.banner_bottom {
	width: 900px;
	height: 10px;
	overflow: hidden;
	background-color: #E20001;
}
#main {
	width: 900px;
	height: 578px;
	background-image: url(../images/main_bg_img.png);
	overflow: hidden;
}
.main_hr {
	width: 860px;
	height: 5px;
	overflow: hidden;
	background-image: url(../images/2014-03-10_231431.gif);
	margin: 0 auto;
	margin-top: 1px;
}
.check_box {
	width: 400px;
	height: 500px;
	background-color: #E2E2E2;
	margin-top: 40px;
	float: left;
	display: inline;
	margin-left: 250px;
	position: relative;
}
.check_box_denglu {
	position: absolute;
	top: -130px;
	left: 285px;
}
.check_box_zhuce {
	position: absolute;
	top: -130px;
	left: 490px;
}
.check_box_banner {
	margin-left: 150px;
	margin-top: 20px;
	 
}
.check_box_font {
	margin-left: 100px;
	margin-top: 20px;
	background-color:#E2E2E2;
}
.check_box_floor1 {
	float: left;
	display: inline;
	height: 32px;
	width: 400px;
	margin-top: 50px;
}
.check_box_floor1_font {
	font-size: 30px;
	font-weight: bold;
	float: left;
	display: inline;
	margin-left: 15px;
}
.check_box_floor1_input {
	float: left;
	display: inline;
}
#check_box_floor1_input {
	width: 250px;
	height: 29px;
	font-size:30px;
}
.check_box_floor2 {
	float: left;
	display: inline;
	height: 32px;
	width: 400px;
	margin-top: 20px;
}
.check_box_floor2_font {
	font-size: 30px;
	font-weight: bold;
	float: left;
	display: inline;
	margin-left: 15px;
}
.check_box_floor2_input {
	float: left;
	display: inline;
}
#check_box_floor2_input {
	font-size:30px;
	width: 250px;
	height: 29px;
}
.footer {
	width: 900px;
	height: 37px;
	background-image: url(../images/footer_bg_img.png);
	float: left;
	line-height: 37px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #FFF;
	text-shadow: 1px 1px 1px #CCCCCC;
	position: relative;
}
.banners {
	width: 65px;
}
.bannerss {
	width: 100px;
}
.btt {
	width: 125px;
	height: 43px;
}
.bt {
	width: 125px;
	height: 43px;
}
.fonts{ height:100px;
 margin-left:-30px;
 }